$body-font-family: Helvetica Neue, Helvetica, Hiragino Sans,
  'ヒラギノ角ゴ ProN W3', Hiragino Kaku Gothic ProN, 'メイリオ', Meiryo,
  sans-serif !important;

@import '~vuetify/src/styles/styles.sass';

// colors
$primary: #89b0ae;
$secondary: #d9dbbc;
$warning: #fcddbc;
$danger: #ef959d;
$info: #69585f;

$primary-text: #404040;
$regular-text: #6c6c6c;
$secondary-text: #808080;

$border-base: #404040;

$background: #ffffff;
